.btn-hover-style
{
    -webkit-transition-duration: 0; Safari 
    transition-duration: 0.5s;
}

.btn-hover-style:hover
{
font-weight: 500;
color: #24aae1;
}
.closeBtn
{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-right: 25%;
    float: right;
    height: 18px;
    

}
.closeBtn:hover, .closeBtn:focus
{
    color: rgb(255, 136, 136);
    cursor: pointer;
 }
