.right
{
    width: 50%;
  background-color: rgb(16, 43, 48);
  padding: 25px 40px;
  overflow: auto;
  margin: auto;
}

.logo-text{
/* border-radius: 50%; */
width: 100%;
height: 50%;
margin: auto;
float: left;  
}

.left
{
    width: 50%;
  background-color: #66DAC7;
}

.banner
{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
       
}

.sign-in-banner
{
    background-color: #5ED0C0 ;
    border-radius: 20px 0 0 20px;
    padding: 10px 20px 10px 20px;
    margin: none;
    color: white;

}
.sign-up-banner
{
    background-color: #4a5b73;
    border-radius: 0px 20px 20px 0px;
    padding: 5px;
    margin: none;
    padding: 10px 20px 10px 20px;
    color: #9DA6B1
}
.header-label
{
    margin-bottom: 20px;
}
.sign-in-text
{
    font-size: 32px;
    color: white;
    /* font-weight: 100; */
    cursor: pointer;
    
}
.sign-in-text-or
{
    color: rgb(53, 93, 119);
    font-size: 24px;
    margin: 15px;

}

.sign-up-text
{
    font-size: 32px;
    color: rgb(77, 99, 114);
    
    font-weight: 200;
    border-bottom: 1px solid #4a8385;
    cursor: pointer;
}
.sign-up-text:hover
{
    font-size: 32px;
    color: rgb(77, 99, 114);
    
    font-weight: 200;
    border-bottom: 0px
    cursor: pointer;
}
.forms
{
    color: white;
    margin-bottom:  20px;
}
.text-area
{
    width: 85%;
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.text-area::placeholder
 {
    color: #616E7F;
 }
.agree
{
    margin: 20px 0 20px 0;
    font-weight: 100;
    color: #616E7F;
    font-size: larger;
    font-stretch: wider;
}
.terms
{
    border-bottom: 1px solid #4a8385;
    cursor:  pointer;
    color: white;
}
.sign-in-btn
{
    background-color: #66DAC7;
    font-size: large;
    color: #ffffff;
    border-radius: 40px;
    width: 200px;
    height: 50px;
    /* box-shadow: 2px 2px 10px grey; */
    border-width: 0px;
    cursor: pointer;

}
.text-final
{
margin-left: 20px;
font-weight: 100;
color: #616E7F;
font-size: larger;
border-bottom: 1px solid #4a8385;
 cursor:  pointer;
}
.footer1
{
    color: #616E7F;
    margin-top: 50px ;
    
}
a:hover
{
color: white;

}